# Environment Configuration
ENVIRONMENT=production
DEBUG=false

# Commander Service
PORT=8080

# PostgreSQL Configuration
POSTGRES_DB_HOST=postgres
POSTGRES_DB_PORT=5432
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASSWORD=postgres
POSTGRES_DB_NAME=commanders_camp_db

# RabbitMQ Configuration
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=password
RABBITMQ_VHOST=/
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Queue Names
ORDER_QUEUE_NAME=order_queue
STATUS_QUEUE_NAME=status_queue
TOKEN_QUEUE_NAME=token_queue

